/* body { margin: 0; font-family: Inter;  } */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body { margin: 0;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}



.valid-border {
  border-color: #4CAF50; /* green border */
}

.invalid-border {
  border-color: #f44336; /* red border */
}
